{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{asset('/css/main.css')}} " />
<body>
<div> 
<br>
<h1>Bienvenue à Martué</h1>
<div class> 
<table width ="100%" align = "middle" cellspacing = "20"

<tr>
<td width = "5%" valign ="top">
<div align ="justify"> 
</td>

<td width = "10%" valign ="top">
<div align ="justify"> 
  <br>
  <br>
  <br>
  <br>
 
  <img src= "{{asset('/images/logo_region.jpg')}}" valign = "center" width="300" height="200"> 
  
   <br>
   <br>
   <br>

 <br>
 <br>
  <br>
  <br>
  
 <img src= "{{asset('/images/localisation.png')}}" valign = "center" width="300" height="200"> 
  <br>
  <br>
  <br>


  <a href="">Localisation</a>
  
  </td>
  
<td width = "12%" valign ="top">
<div align ="justify"> 
</td>

<td width ="50%" valign = "left">
<br>
  <div align="justify"> 
  <p><span class = "taille">Martué est un charmant petit village agricole de 150 habitants situé dans la commune  de Florenville, 
  à l’intérieur d’un méandre très accentué de la Semois.
  <br>
  <br>
  C'est donc dans un cadre pittoresque et reposant que nous vous accueillons.
  Notre ferme est une construction typiquement gaumaise datant du milieu du 19ième siècle.
  <br>
  <br>
  Son aménagement comprend un camping "à la ferme", un gîte, des chambres d’hôte et un refuge.</span></p>
  <div class="conteneur"> 
 <img src= "{{asset('/images/village.jpg')}}" > 
  </div> 
  <br>
 <p> <span class = "taille">Les paysages environnants sont une invitation permanente à la randonnée active ou à la promenade tranquille à pied, à cheval ou à vélo.
  Sans oublier le canoë et le kayak pour sillonner la Semois au fil de l'eau.
  <br> 
  <br>
  En hiver s'ajoute le ski de fond, grâce aux nombreuses pistes balisées.
  Bref, une région dans la province du Luxembourg et de la Gaume à découvrir absolument.</span></p>

 
  </div>

</td>
<td width = "20%" valign ="top">
<div align ="justify"> 




</td>

</body>




















{% endblock %}